header {
    text-align: center;
    background: rgb(201, 40, 40);
    padding: 35px;
}

nav {
    text-align: right;
    background: black;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    word-spacing: 20px;
    
}

main {
    background: slategray;
    padding: 10px
}

img {
    width: 90%;
    height: auto;
}

.row {
    display: flex;
}

@media screen and (max-width: 624px) {
    .row {
        display: block;
    }
}